* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3
}

ul li {
    list-style: none
}

button:focus,
input:focus,
textarea:focus {
    outline: 0
}

h1 {
    font-size: 4.2rem;
    color: #fff
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.btn,
.btn:link,
.btn:visited {
    background: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem
}

section {
    padding: 8rem 0
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center
}

h2::after {
    content: "";
    display: block;
    height: .4rem;
    width: 8.5rem;
    background: #fff;
    margin: auto;
    margin-top: 2rem
}

h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff
}

h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 2.5rem
}

.little-description {
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem
}

.box {
    padding: 1%
}

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 2rem;
    color: #fff
}

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(135, 80, 156, .9)), to(rgba(135, 80, 156, .9))), url(../img/hero-bg.jpg);
    background-image: linear-gradient(rgba(135, 80, 156, .9), rgba(135, 80, 156, .9)), url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left
}

.main-nav {
    float: right;
    margin-top: 4rem
}

.main-nav li {
    display: inline-block;
    margin-left: 1rem
}

.main-nav li:first-child {
    margin-left: 0
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    padding: .4rem 1.6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    -webkit-transition: .3s ease-in-out 0s;
    transition: .3s ease-in-out 0s
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: #643a79
}

.main-nav li.active a {
    background: #643a79
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(135, 80, 156, .9);
    padding: 1rem 0;
    box-shadow: 0 .2rem .5rem rgba(255, 255, 255, .9);
    z-index: 999
}

.sticky .logo {
    margin-top: 0
}

.sticky .main-nav {
    margin-top: .2rem
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 114rem
}

.btn-hero:link,
.btn-hero:visited {
    background: #eb7d4b;
    border-color: #c86a40
}

.mobile-menu span {
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 2rem;
    display: none
}

.mobile-menu span:hover {
    cursor: pointer
}

.overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 100;
    overflow-x: hidden;
    -webkit-transition: .5s;
    transition: .5s
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center
}

.overlay a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #999;
    padding: 1rem 0;
    -webkit-transition: .3s;
    transition: .3s
}

.overlay a:hover {
    color: #fff
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 4rem;
    font-size: 4rem !important
}

.sticky .mobile-menu span {
    margin-top: 0;
    line-height: 1
}

.services-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 196, 165, .9)), to(rgba(23, 196, 165, .9))), url(../img/services-bg.jpg);
    background-image: linear-gradient(rgba(23, 196, 165, .9), rgba(23, 196, 165, .9)), url(../img/services-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center
}

.services-section h2::after {
    background: #14a58c
}

.services-icon {
    height: 12rem;
    margin-bottom: 3.5rem;
    margin-top: 4.5rem
}

.team-section {
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 241, 248, .9)), to(rgba(231, 241, 248, .9))), url(../img/team-bg.jpg);
    background: linear-gradient(rgba(231, 241, 248, .9), rgba(231, 241, 248, .9)), url(../img/team-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed
        
}

.team-section h2 {
    color: #3c4761
}

.team-section h2::after {
    background: #c8d9e5
}

.team-member {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%
}

.team-section h3 {
    color: #3c4761
}

.role {
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: .5rem;
    display: inline-block
}

.team-section .box p {
    color: #3c4761
}

.social-links {
    margin-top: 4.5rem
}

.social-links ul li {
    display: inline-block;
    margin: .5rem
}

.social-links ul li a {
    color: #fff
}

.social-links ul li a:link i::before {
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    -webkit-transition: .5s;
    transition: .5s
}

.social-links ul li a:hover i::before {
    background: #393939;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100%
}

svg.radial-progress circle {
    fill: transparent;
    stroke: #cccc;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 10
}

svg.radial-progress circle.incomplete {
    opacity: .25
}

svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129
}

svg.radial-progress text {
    fill: #cccc;
    text-anchor: middle
}

.skill-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, .9))), url(../img/skill-bg.jpg);
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../img/skill-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center
}

.skill-section .little-description,
.skill-section h2,
.skill-section h3 {
    color: #3c4761
}

.skill-section h2::after {
    background: #dfe8ed
}

.skill-section .box {
    margin-top: 4.5rem
}

svg.radial-progress circle {
    stroke-width: 5
}

svg.radial-progress text {
    fill: #3c4761;
    font-size: 1.5rem
}

svg.web-design circle {
    stroke: #30bae7
}

svg.html-css circle {
    stroke: #d74680
}

svg.graphic-design circle {
    stroke: #15c7a8
}

svg.ui-ux circle {
    stroke: #ed7d4b
}

.portfolio-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 221, 153, .9)), to(rgba(255, 221, 153, .9))), url(../img/portfolio-bg.jpg);
    background: linear-gradient(rgba(255, 221, 153, .9), rgba(255, 221, 153, .9)), url(../img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center
}

.portfolio-section .little-description,
.portfolio-section h2 {
    color: #393939
}

.portfolio-section h2::after {
    background: #e5c37f
}

.portfolio-filter {
    margin: 4.5rem 0
}

.portfolio-filter button {
    background: #edc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #3c4761;
    margin: .5rem .5rem;
    -webkit-transition: .3s;
    transition: .3s
}

.portfolio-filter button:hover {
    cursor: pointer;
    box-shadow: inset 0 .3rem .5rem rgba(60, 71, 97, .5)
}

.portfolio-image {
    width: 100%;
    height: auto
}

.portfolio-section .col:nth-child(3) {
    margin-left: 0
}

.portfolio-section .btn-load-more {
    background: #17c2a4;
    border-color: #14a58c
}

.portfolio-section .mixitup-control-active {
    background: #fff
}

.testimonial {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 70, 128, .9)), to(rgba(215, 70, 128, .9))), url(../img/testimonial-bg.jpg);
    background: linear-gradient(rgba(215, 70, 128, .9), rgba(215, 70, 128, .9)), url(../img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.testimonial .little-description {
    text-align: center;
    color: #fff
}

.testimonial .col:nth-child(3) {
    margin-left: 0
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2) {
    margin-top: 4rem
}

.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4) {
    margin-top: 8rem
}

.client-photo {
    width: 10rem;
    float: left
}

.client-photo img {
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem
}

.client-review {
    width: 40rem;
    float: left
}

.client-review p {
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 0
}

.client-review .role {
    color: #fd9
}

.contact-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 83, 153, .9)), to(rgba(60, 83, 153, .9))), url(../img/contact-bg.jpg);
    background: linear-gradient(rgba(60, 83, 153, .9), rgba(60, 83, 153, .9)), url(../img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    background-attachment: fixed;
    text-align: center
}

.contact-section h2::after {
    background: #273a71
}

.contact-section .little-description {
    color: #fff
}

.contact-section form {
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%
}

.contact-section input[type=email],
.contact-section input[type=text],
.contact-section textarea {
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #fff;
    margin: .5rem 0
}

.contact-section textarea {
    resize: none;
    font-family: 'Titillium Web', sans-serif
}

.contact-section form ::-webkit-input-placeholder {
    color: #fff;
    opacity: .5
}

.contact-section form ::-moz-placeholder {
    color: #fff;
    opacity: .5
}

.contact-section form :-ms-input-placeholder {
    color: #fff;
    opacity: .5
}

.contact-section form ::-ms-input-placeholder {
    color: #fff;
    opacity: .5
}

.contact-section form ::placeholder {
    color: #fff;
    opacity: .5
}

.btn-submit {
    border: 0;
    border-bottom: .3rem solid #299ec5;
    background: #30bae7;
    cursor: pointer
}

.footer-section {
    text-align: center;
    background: #344b8e;
    padding: 3rem 0;
    border-top: .1rem solid rgba(255, 255, 255, .3)
}

.footer-section ul li {
    display: inline-block;
    margin: 0 2rem
}

.footer-section li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.4rem;
    -webkit-transition: .3s;
    transition: .3s
}

.footer-section li:hover a {
    color: #30bae7
}
